{% extends "base.html" %}
{% load form_tags %}

{% block content %}

<div class="full bg-purple-100/45 py-8 px-16 h-40 flex flex-col justify-center">
    <h1 class="text-navy text-xl font-semibold">My Account</h1>
    {% include "topbanner.html" %}
</div>

<div class="signup max-w-sm py-8 mx-auto h-screen">
    <form method="post" class="form w-full bg-white shadow-md shadow-navy/15 gap-2 flex flex-col p-4">
        {% csrf_token %}
        <div class="gap-1">
            <h2 class="title text-center text-xl font-semibold text-navy">Sign Up</h2>
            <p class="text-navy/45 text-sm text-center">Create an account by filling the form below</p>
        </div>
        
        {% for field in form %}
            <div>
                <label for="name" class="text-navy/70">{{ field.label }}</label>
                {{ field|add_class_attribute:"w-full border border-navy/15 rounded text-navy p-2 outline-0 focus:border-pinkish/25 hover:border-transparent hover:shadow hover:shadow-navy/15 hover:transition-all duration-150 focus:shadow-transparent"}}
            </div>
        {% endfor %}
        
        <div class="buttons flex flex-col gap-5">
            <button class="bg-pinkish text-white rounded text-center h-10 py-2">Submit</button>
            <a href="{% url 'login' %}" class="text-navy/45 text-sm text-center
                hover:text-pinkish/50">Already have an Account? Login.</a>
        </div>

    </form>
</div>

{% endblock content %}