<section class="h-full side-navbar flex flex-col gap-6 text-sm text-navy/45 py-3 px-6 shadow shadow-navy/10">
    <div class="brand flex flex-col gap-1">
        <h3 class="font-semibold text-base text-navy">Brand</h3>
        <form class="flex flex-col gap-2">
            <div class="flex gap-2">
                <input type="checkbox" name="Fusion High Fashion" value="Fusion High Fashion" id="Fusion-High">
                <label for="Fusion-High">Fusion High Fashion</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="Young Repurposed" value="Young Repurposed" id="Young-Repurposed">
                <label for="Young-Repurposed">Young Repurposed</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="Coaster Fashion" value="Coaster Fashion" id="Coaster-Fashion">
                <label for="Coaster-Fashion">Coaster Fashion</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="Greens Fashion" value="Greens Fashion" id="Greens-Fashion">
                <label for="Greens-Fashion">Greens Fashion</label>
            </div>
    
        </form>
    </div>

    <div class="discount flex flex-col gap-1">
        <h3 class="font-semibold text-base text-navy">Discount Offer</h3>
        <form class="flex flex-col gap-2">

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent">Less than 10%</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent">10-20%</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent">21-50%</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent">Over 50%</label>
            </div>
            
        </form>
    </div>

    <div class="rating flex flex-col gap-2">
        <h3 class="font-semibold text-base text-navy">Rating</h3>
        <form class="flex flex-col gap-2">
            <div class="flex gap-2">
                <input type="checkbox" name="star-5" value="5" id="star-5">
                <label for="star-5">
                    <div class="rating text-xs text-amber-300 flex items-center gap-0.5">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="star-4" value="4" id="star-4">
                <label for="star-4">
                    <div class="rating text-xs text-amber-300 flex items-center gap-0.5">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey-icon"></i>
                    </div>
                </label>
            </div>
            
            <div class="flex gap-2">
                <input type="checkbox" name="star-3" value="3" id="star-3">
                <label for="star-3">
                    <div class="rating text-xs text-amber-300 flex items-center gap-0.5">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey-icon"></i>
                        <i class="fa fa-star grey-icon"></i>
                    </div>
                </label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="star-2" value="2" id="star-2">
                <label for="star-2">
                    <div class="rating text-xs text-amber-300 flex items-center gap-0.5">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey-icon"></i>
                        <i class="fa fa-star grey-icon"></i>
                        <i class="fa fa-star grey-icon"></i>
                    </div>
                </label>
            </div>
        </form>
    </div>

    <div class="Category flex flex-col gap-1">
        <h3 class="font-semibold text-base text-navy">Categories</h3>
        <form class="flex flex-col gap-2">

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent">Women Clothing</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent">Men Clothing</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent">Handbags</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent">Women Sneakers</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent">Men Sneakers</label>
            </div>
            
        </form>
    </div>

    <div class="Category flex flex-col gap-1">
        <h3 class="font-semibold text-base text-navy">Price</h3>
        <form class="flex flex-col gap-2">

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent">Ksh.99 - 1000</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent">Ksh.1000 - 5000</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent">Ksh.5000 - 10000</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent">Over Ksh. 10000</label>
            </div>
            
        </form>
    </div>

    <div class="Category flex flex-col gap-1">
        <h3 class="font-semibold text-base text-navy">Filter by Color</h3>
        <form class="flex flex-col gap-2">

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent"><i class="fa fa-circle circle1"></i> Pink</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent"><i class="fa fa-circle circle2"></i> Navy Blue</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent"><i class="fa fa-circle circle3"></i> Green</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent"><i class="fa fa-circle circle4"></i> Green</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent"><i class="fa fa-circle circle5"></i> Green</label>
            </div>

            <div class="flex gap-2">
                <input type="checkbox" name="20%" value="20%" id="twenty-percent">
                <label for="twenty-percent"><i class="fa fa-circle circle6"></i> Green</label>
            </div>

    
            
        </form>
    </div>

</section>